{% extends 'main/base.html' %}
{% block nav %}
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand h1" href="/">Your shopping list</a>
        <div>
        <span style="padding-right: 10px;" class="navbar-text">
            log in as || {{ request.user }} ||
        </span>
        <form action="{% url 'accounts:logout' %}" style="float: right;">
            <input class="btn btn btn-outline-info" type="submit" value="Log out" />
        </form>
        </div>
    </nav>
{% endblock %}
{% block content %}

    <hr />
    <form style="text-align: right" action="{% url 'main:index' %}" method="post">
        {% csrf_token %}
        {{ form.title }}
        <input type="submit" value='ADD TO LIST' class="btn btn-info" />
    </form>
    <br />

    {% for s in stuff %}
        <ul class="list-group">
            <li class="list-group-item">

                <form action="{% url 'main:delete' s.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="BOUGHT" class="btn btn-primary" />
                </form>
                <h3>{{ s.title }}</h3>
            </li>
        </ul>
    {% endfor %}
    <br />
    <form method="post" action="{% url 'main:deleteall' %}">
        {% csrf_token %}
        <input type="submit" class="btn btn-outline-secondary btn-lg btn-block" value="DELETE ALL" />
    </form>
{% endblock %}
{% block Fnav %}
    <nav class="navbar fixed-bottom navbar-dark bg-dark">

    </nav>
{% endblock %}
